# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Train.session.sql
.dockerignore
docker-compose.yml
Dockerfile
docker-entrypoint.sh
pgbouncer
nginx
backup.sh
Railway_Ticket_Docker.tar.gz
restore.sh
README_BACKUP.md

